@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font: weight 400px;
  font-style: normal;
}
/* shared style */
.display-flex{
  display: flex;
}
/* dark2 */
.text-gray{
  color: rgba(66, 66, 66, 1);
}

/* dark3 */
.text-light-gray , .banner-description{
 color:  rgba(114, 114, 114, 1);
}

/* bg-backround */
.bg-backround{
 color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  font-weight: 600;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 144, 14, 1);
  width: 130px;
  height: 60px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
main{
  max-width: 1200px;
  margin:0 auto;
}
main>section{
  margin-top: 130px;
}
.brand-title{
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar{
  justify-content: space-between;
  background-color:rgba(255, 144, 14, 0.1);
  width: 1200px;
  padding: 0 100px;
  align-items: center;
}


.link-item{
list-style: none;
margin-right: 20px;
font-weight: 500;

}
.banner{
  background-color: rgba(255, 144, 14, 0.1);
 max-width: 1200px;
  padding: 0 100px;
}

.nav-link{
  text-decoration: none;
}
.banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}
.banner-title{
  font-weight: bold;
  font-size: 3rem;
  max-width: 500px;

}
.banner-img{
width:100%;
align-items: center;
}
.banner-description{
  font-weight: 500;
  width: 800px;
}

.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 500px;
}
.section-title{
  font-size: 2.5rem;
  font-weight: 700;
}
#quick-list{
  font-weight: 500;
}
.features{
  color:rgba(255, 144, 14, 1) ;
}

.facts-container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10vw;
}
.fact{
  border: 1px solid orange;
  width: 10vw;
  border-radius: .5vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  
}
.fact-number{
  font-size: 2rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
}
.fact-name{
  font-size: .8rem;
  font-weight: 600;
  margin-top: 0px;
}
.section-description{
  font-size: 0.8rem;
max-width: 30vw;
}

/* responsive media  */
@media screen and (max-width: 576px) {
  .navbar, 
  .nav-links,
  .teams{
    flex-direction:column ;
  }
  .navbar,
   .banner-img,
   .banner-content
   {
    padding-left: 0px;
    justify-content: start;
    align-items: start;

  }
  .banner{
    padding: 0 20px;
  }
  .banner-img{
  width:100%;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
    padding:0px 0px;
    margin-left: 0px;
    width: 100%;
  }
  .our-features, .feature-description{
    margin-left: 0px;
    padding: 0 auto;
    width: 80%;

  }
}
/* medium size device */
 @media  screen and (min-width: 576px) and (max-width: 992) {
  .teams{
    flex-direction: column;
  }
  
 }